body{
    background-color: grey;
}
header{
    text-align: center;
    color: black;
    font-size: 75px;
    font-family: 'Roboto', sans-serif;
    border-style: solid;
    border-width: 5px;
    border-color:black;
}

#barry{
    height: 300px;
    width:400px;
    
}

#form{
    height: 300px;
    width:400px;
}
footer{
    text-align: center;
    font-size: 25px;
}

